<div class="form">
    <h1>Register</h1>
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter User name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder=" Enter Password">
        <mat-hint>Give a strong Password!</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Choose a role</mat-label>
        <mat-select>
            <mat-option value="option">Student</mat-option>
            <mat-option value="option">Front End Developer</mat-option>
            <mat-option value="option">Back End Developer</mat-option>
            <mat-option value="option">Web Designer</mat-option>
            <mat-option value="option">Self-Business</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button class="submit">Register</button>
</div>